//Layout
ba-menu_web {
  @include flex(1 1 0);
}

//Style
ba-menu_web {
  padding : 0 0 0 20px;
  background: white;
  color: #2fa4e7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;

  >ba-titledlist>ba-title {
    padding : 10px 0 5px 0;
    font-weight: bold;
  }
  ba-list {
    ba-list {padding : 0 0 0 10px;}
  }
}