$noteheight: $listitemheight;

noteitem {
  //TODO: Clean up Email SCSS (Margin main & Star Button)
  @include flex(1 0 0);
  @include display-flex;

  border-bottom: 1px solid #d3d3d3;
  height: $noteheight;
  line-height: $noteheight;
  padding-left: $noteheight/2;
  list-style: none;
  margin: 0;
  vertical-align: middle;
  background: white;
}