
$numberscrollheight: 30px;

ba-datepicker {
  @include flex(1 1 0);
  @include display-flex;

  overflow: hidden;

  numbers {
    @include flex(1 1 0);
    @include display-flex;
    @include flex-direction(column);

    overflow-y: scroll;

    number {
      @include flex(0 0 $numberscrollheight);
      @include display-flex;
      color: $grey5;
      background: #f4f4f4;

      line-height: $numberscrollheight;

      p {
        @include flex(3 0 0);
        display: block;
        text-transform:capitalize;
        text-align: left;
      }
      p:nth-child(2) {
        text-align: center;
      }
      p:first-child {
        @include flex(4 0 0);
        text-align: right;
      }
    }
  }

  .selected {color: black}
}
