
$clickitemheigth : 44px;

ba-clickitem_new {
  background: white;
  border-bottom: 1px solid grey;

  clickitem_new {
    padding: 0 $clickitemheigth/2;
    height: $clickitemheigth;
    line-height: $clickitemheigth;
    display: block;
  }

}