
ba-emailinput {
  @include display-flex;
  @include flex-direction(column);
  border-bottom: 1px solid $grey1;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $grey3;
  overflow-x: hidden;
  overflow-y: scroll;


  inputarea {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);

    button {@include flex-settings(0 0 $mailinput_height)}

    p {
      @include flex-settings(0 0 auto);
      @include display-flex;
      margin: auto 0;
    }

    input {
      @include flex-settings(1 1 auto);
      height: 90%;
    }

    > div {
      @include flex-settings(0 0 auto);
      @include display-flex;
      height: $mailinput_height;

      > div {
        margin: auto 0 auto 4px;
        padding: 3px 4px;
      }
      &:last-of-type {@include flex-settings(1 0 $mailinput_height*2)}
    }
    .active {
      color: white;
      background: dodgerblue;
      border-radius: 3px;
    }
  }

  diitemlist {
    @include flex-settings(1 1 auto);
    overflow-x: scroll;
    width: 100%;
    z-index: 3;
    background: $grey2;
  }
}
