
ba-signingoogle {
  @include flex-settings(1 1 0);
  @include display-flex;
  @include flex-direction(column);
  top: 0;
  bottom: 0;
  text-align: center;
  background: #ffffff;

  logoarea {
    @include flex-settings(5 0 0);
    @include display-flex;
    @include flex-direction(column);

    * {
      @include flex-settings(1 1 auto);
      @include display-flex;
      margin: auto;
    }
    slogan {color: $grey5}
  }

  signuparea {
    @include flex-settings(3 0 0);
    @include display-flex;
    @include flex-direction(column);
    padding: 10px 0;

    input {
      @include flex-settings(0 1 35px);
      width: 80%;
      margin: auto;
      margin-bottom: 10px;
      border-radius: 2px;
      border: 1px solid  $grey2;
      padding-left: 5px;
    }

    button {
      @include flex-settings(0 1 40px);
      width: 80%;
      margin: 10px auto;
      border-radius: 2px;
      background: $blue1;
      color: #ffffff;
      letter-spacing: 1px;
    }

    a {
      @include flex-settings(1 0 0);
      text-decoration: underline;
    }
  }
}

.keyboard-active h6,
.keyboard-active img{
  display: none;
}