
$searchboxheight: 36px!default;
$spinkit-size: 16px !default;

//Layout
ba-search {
  height: $searchboxheight;
  @include flex(1 1 0);
  @include display-flex;

  div {
    @include flex(1 1 0);
    input {
      width: 100%;
      height: $searchboxheight;
      padding: 0 5px 0 0;
    }
  }

  ba-loading, icon, ba-dropdown {@include flex(0 0 $listitemheight)}

  icon {
    line-height: $searchboxheight;
    text-align: center;
  }
  ba-loading .sk-circle {
    margin: ($searchboxheight - $spinkit-size)/2 auto;
  }
}
