
$hoverbuttoncontainerheight: 44px;

ba-hoverbuttoncontainer {
  @include display-flex;
  min-width: 0px; //Important for correct flex-box display!

  hoverbuttoncontainer {
    @include display-flex;
    @include flex-settings(1 1 0);
    min-width: 0px; //Important for correct flex-box display!

    container {
      @include display-flex;
      @include flex-settings(1 1 0);
      min-width: 0px; //Important for correct flex-box display!
      >* {@include flex-settings(1 1 0);}
    }


    hoverbuttons {
      display: none;
      @include flex-settings(0 1 auto);

      button {
        //position: relative;
        @include display-flex;

        width: $hoverbuttoncontainerheight;
        line-height: $hoverbuttoncontainerheight;

        span {
          font-size: 18px;
          color: $grey3;
          margin: auto;
        }
      }
      tooltip {
        position: absolute;
        top: $hoverbuttoncontainerheight;
        left: 0;
        //height: 20px;
        line-height: initial;
        z-index: 1;

        opacity: 0;
        visibility: hidden;

        border: 1px solid $grey3;
        background: $grey1;
        color: $grey3;
        text-align: center;
      }
      button:hover span {color: black}
      button:hover tooltip {visibility: visible}
    }
    hoverbuttons:hover tooltip {
      opacity: 1;
      -webkit-transition: opacity 2s;
      transition: opacity 2s;
      -webkit-transition-timing-function: step-end;
      transition-timing-function: step-end;
    }
  }
}

ba-hoverbuttoncontainer:hover {
  hoverbuttons {
    @include display-flex;
  }
}