ba-overlaycontainer {

  overlaycontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);

    @include display-flex;

    overlayinner {
      message {
        background: white;
        border-radius: 2px;
        padding: 10px;
      }
    }
  }


  .normal {
    overlayinner {
      margin: auto;
      max-width: 85%;
      max-height: 80%;
    }
  }

  .fullpage {
    $timer : 1000;
    transition: top $timer;
    -webkit-transition: top $timer;

    overlayinner {
      position: absolute;
      top: $listitemheight;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}