// please keep like this for popup to work
baoverlaycontainer, ba-overlaycontainer {

  overlaycontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: scroll;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);

    @include display-flex;

    message {
      background: white;
      border-radius: 2px;
      padding: 10px;
    }
  }

  .overlaysplit {
    //TODO: ? Which view uses the background: none; ?
    //In chatsettings we don't want this one?
    //background: none !important;

    overlaysplit {
      @include display-flex;
      @include flex-direction(column);
      @include flex(1 1 0);
      top {background: rgba(0, 0, 0, 0.5)}
      bottom {
        @include flex(2 1 0);
        background: rgba(0, 0, 0, 0.5);
      }
    }
    overlayinner {
      @include flex(1 1 0);
      max-width: 50%;
    }
  }

  .normal {
    overlayinner {
      margin: auto;
      height: 100%;
      //max-width: 85%;
      //max-height: 80%;
    }
  }

  .fullpage {
    $timer: 1000;
    transition: top $timer;
    -webkit-transition: top $timer;

    overlayinner {
      position: absolute;
      top: $listitemheight*2;
      bottom: 0;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}