
ba-list {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  .emptymessage, .refresh {text-align: center}
  .moveplaceholder .inner {
    height: $listitemheight;
    line-height: $listitemheight;
    background: $grey5;
  }
}