
ba-controls {
  padding: 10px;
  overflow: hidden;

  border-bottom: 1px solid black;

  @include display-flex;
  @include flex-direction(column);

  controls {
    @include flex(1 1 0);
    @include display-flex;

    >* {@include flex(1 1 0)}
    ba-layout {@include flex-direction(column)}
    ba-simplelist {border: 1px solid grey}
  }

}