
$numbercsrollheight: 30px;


ba-numberscrollpicker {
  @include flex(1 1 0);
  @include display-flex;
  @include flex-direction(column);
  overflow-y: scroll;

//  overflow: hidden;

  number {
    @include flex(0 0 $numbercsrollheight);
    @include display-flex;
    color: $grey5;
    background: #F4F4F4;

    line-height: $numbercsrollheight;
    display: block;
    text-align: center;
  }

  .selected {color: black}
}
