//Layout
ba-layout_web {
  @include flex(1 1 0);
  @include display-flex;
  @include flex-direction(column);

  header {
    @include display-flex;
    min-height: 10px;
  }

  main {
    @include flex(1 1 0);
    @include display-flex;

    menu {
      @include display-flex;
      min-width: 10px;
    }
    content {
      @include flex(1 1 0);
      @include display-flex;
    }
  }
}

//Style
$header_height : 50px;
$menu_width : 200px;
ba-layout_web {
  background: lightcoral;

  header {
    @include flex(0 0 $header_height);
    background : lightsteelblue;
  }
  main {
    background: darkviolet;
    menu {
      @include flex(0 0 $menu_width);
      background: lightgreen
    }
    content {background: lightcyan}
  }
}