$emailheight: 66px;

ba-emailitem {
  //TODO: Clean up Email SCSS (Margin main & Star Button)
  @include flex(0 0 $emailheight);
  @include display-flex;


  border-bottom: 1px solid #d3d3d3;
  vertical-align: middle;
  background: white;

  email-status {
    @include flex(0 0 24px);
    text-align: center;
    height: 100%;
    line-height: $emailheight;
    color: $blue1;
  }

  email-main {
    @include flex(1 1 0);
    box-sizing: border-box;
    overflow: hidden;
    padding: 6px 12px 6px 0;
    @include display-flex;
    @include flex-direction(column);

    email-topline {
      @include flex(0 0 15px);
      @include display-flex;

      from {
        font-size: 12px;
        @include flex(1 0 auto);
        width: 1px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      time {
        font-size: 12px;
        color: $grey3;
        text-align: right;
        @include flex(0 0 auto);
      }
    }

    email-bottom {
      @include flex(1 0 0);
      @include display-flex;

      email-content {
        @include flex(1 0 0);
        @include display-flex;
        @include flex-direction(column);

        subject {
          padding: 2px 0 2px;
          overflow: hidden;
          white-space: nowrap;
          color: black;
          text-overflow: ellipsis;
        }
        firstline {
          font-size: 12px;
          color: $grey3;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      star {
        @include flex(0 0 24px);
        text-align: center;
        line-height: 39px;
      }
    }
  }
}