
$height : $listitemheight;

ba-clickinput {
  //@include flex(0 0 44px);
  @include display-flex;
  @include noselect;

  //height: $height;
  //line-height: $height;
  list-style: none;
  margin: 0;
  vertical-align: middle;

  title, input {
    @include flex(1 1 0);
    display: block;
    height: 100%;
    width: 100%;

    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}
