
// Style
ba-header {
  background: lightsteelblue;
  color : white;
  height: 50px;

  ba-list {
    list {
      button {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        white-space: nowrap;
        max-width: 1/3%;
        :hover {background: lightsalmon}
      }
    }
  }
}