
$contact_listitem_height: $listitemheight;
$contact_icon_dimension: .8 * $contact_listitem_height;

ba-contactitem {
  @include flex(1 0 0);
  @include display-flex;

  height: $contact_listitem_height;
  border-bottom: 1px solid #d3d3d3;
  background: white;
  border-bottom: 1px solid $grey5;

  iconbox {
    @include flex-settings(0 0 $contact_listitem_height);
    @include display-flex;

    icon {
      margin: auto;
      height: $contact_icon_dimension;
      width: $contact_icon_dimension;
      line-height: $contact_icon_dimension;
      border-radius: 2px;
      background: green;

      vertical-align: middle;
      text-align: center;
      color: white;
    }
  }
  contactmain {
    @include flex-settings(1 1 auto);
    @include display-flex;
    @include flex-direction(column);
    font-size: 13px;

    contactname {
      @include flex-settings(1 1 auto);
      @include display-flex;
      margin: auto 0;
      line-height: $contact_listitem_height/2;
      font-weight: bold;
//      align-items: flex-end;
      color: $grey3;
    }
    contactemail {
      @include flex-settings(1 1 auto);
      line-height: $contact_listitem_height/2;
      margin: auto 0;
      color: $grey3;
    }
  }


}