
$settingsitem-height : $listitemheight;
$settingsitem-bordercolor : $grey1;
$settingsitem-keycolor : $grey5;

ba-generalsetting, ba-titlesetting {
  @include flex(0 0 $settingsitem-height);
  @include display-flex;
  border-bottom: 1px solid $settingsitem-bordercolor !important;
  background: white;

  key, value, icon {
    line-height: $settingsitem-height;
    height: $settingsitem-height;
  }
  icon {
    @include flex(0 0 $settingsitem-height);
    text-align: center;
  }
  key, value, input, button {@include flex(1 1 0)}
  value{text-align: right}
  key {color: $settingsitem-keycolor}
}