
ba-dropdown {
  @include display-flex;

  button {
    @include flex(1 1 auto);

    position: relative;
    font-size: 14px;
    color: $grey3;

    dropdown {
      position: absolute;
      right: 0;
      top: ($listitemheight - 1px);

      border: 1px solid $grey3;
      background: white;

      button {
        white-space: nowrap;
      }
      button:hover {
        background: $grey1;
      }
    }
    opacity: 1;
  }
  button:hover {
    opacity: 0.99;
  }
}
