/*******************************
 **           Style           **
 *******************************/
$grey1: #ddd;
$grey2: #E2E2E2;
$grey3: #777;

$greywhite1: #fcfcfc;
$greywhite2: #fdfdfd;

$greyred1: #ffb3b3;

$grey4: #333;
$grey5: #999;
$grey6: #555;
$blue1: dodgerblue;

//Style 2
$blue2: #479CFC;


a {color: $blue1}

.icon-star {color: #428bca}
.icon-star-empty {color: $grey1}
.icon-search {color: $grey3}