$searchboxheight : $listitemheight;

ba-searchlist {
  @include flex(1 1 0);
  @include display-flex;
  @include flex-direction(column);
  width: 100%;

  ba-search {
    $search : 0 0 $searchboxheight !default;
    @include flex($search);
    @include display-flex;
    width: 100%;
    line-height: $searchboxheight;
    border-bottom: 1px solid #ddd;
    z-index: 1;

    ba-loading {
      @include flex(0 0 $searchboxheight);
      .sk-circle {
        margin: 14px auto;
      }
    }

    input {
      @include flex(1 1 0);
      color: $grey3;
    }

    icon {
      @include flex(0 0 $searchboxheight);
      line-height: $searchboxheight;
      text-align: center;
    }
  }
  ba-list {z-index: 0}
  ba-listitem {display: block}
}

.design_alternative ba-searchlist {
  background: #E2E2E2;

  ba-swipeclickcontainer {
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
  }
}