$searchboxheight : 44px;

ba-searchlist {
  @include flex(1 1 0);
  @include display-flex;
  @include flex-direction(column);
  width: 100%;

  searchbox {
    @include flex(0 0 $searchboxheight);
    @include display-flex;
    width: 100%;
    border-bottom: 1px solid #ddd;

    icon {
      @include flex(0 0 $searchboxheight);
      line-height: $searchboxheight;
      text-align: center;
    }
  }
  ba-listitem {display: block}

}