$taskheight: $listitemheight;

.taskitem {
  //TODO: Clean up Email SCSS (Margin main & Star Button)
  @include flex(1 0 0);
  @include display-flex;
  background: white;

  border-bottom: 1px solid #d3d3d3;
  height: $taskheight;
  line-height: $taskheight;
  padding-left: $taskheight;
  list-style: none;
  margin: 0px;
  vertical-align: middle;
}