
$clickitemheigth : 50px;

ba-eventitem {
  @include display-flex;
  @include flex-direction(column);

  button {
    @include flex(1 1 0);
    @include noselect;
    padding: 0 $clickitemheigth/2;
    min-height: 50px;
    text-align: center;
    display: block;
    color : inherit;
  }
}
